Source: gepes
Section: user/other
Priority: optional
Maintainer: Michal Čihař <nijel@debian.org>
Build-Depends: debhelper (>= 5), libqt4-dev
Standards-Version: 3.7.3
Homepage: <insert the upstream URL, if relevant>

Package: gepes
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Various GPS based tools
 <insert long description, indented with spaces>
XSBC-Maemo-Display-Name: GePeS
